html {
	position: relative;
}
body {
	margin-bottom: 100px;
}
.jumbotron img {
	width: 400px;
	border: 5px solid #666;
}
hr {
	width: 250px;
	border-top: 4px solid #666;
}
section {
	min-height: 600px;